* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
body {
    background-color: #1A171A;
    background-image: url(img/main-image.png);
    background-size: cover;
    background-attachment: fixed;
}
#logo h1 {
    font-family: 'Roboto', sans-serif;
    color: white;
    text-transform: uppercase;
    text-align: center;
    font-weight: 900;
}
#logo h1 a{
    font-family: 'Roboto', sans-serif;
    color: white;
    text-shadow: 0 0 2px white;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 5px;
    font-weight: 900;
    font-size: 62px;
}
#logo {
    background-color: black;
}
#navigation {
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    border-bottom: 4px solid #fb6000;
}
.nav {
    display: inline-block;
    padding: 15px 25px;
    background-color: black;
}
.nav-active {
    background-color: #fb6000;
    text-shadow: 0 0 6px black;
}
#navigation a, #pp{
    color: white;
    font-weight: 600;
}
#navigation a:hover .nav{
    background-color: #fb6000;
    text-shadow: 0 0 6px black;
    transition-duration: 300ms;
}







#main-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1000px;
    margin: 6vh 0;
    margin-left: auto;
    margin-right: auto;
    background-color: #222;
    /* From https://css.glass */
    background: rgba(51, 51, 51, 0.7);
    border-radius: 15px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.8px);
    -webkit-backdrop-filter: blur(7.8px);
    padding: 6vh 0;
}






hr {
    height: 6px;
    background-color:#fb6000;
    border-color: #fb6000;
    border-radius: 15px;
}
.socials-block {
    display: block;
    float: left;
    margin-left: 40px;
    text-align: center;
}
.socials-block a {
    color: white;
}
.socials-block a:hover {
    color: #fb6000;
    text-shadow: 0 0 2px #fb6000;
    transition-duration: 300ms;
}
span {
    color: #fb6000;
    text-shadow: 0 0 2px #fb6000;
}
.film-block{
    margin: 30px;
    
}
.film-block img {
    
   
    display: block;
    width: 210px;
    height: 300px;
   padding: 30px;
    margin-top: 20px;
    border: 1px solid #fb6000;
    box-shadow: 0 0 5px #fb6000;
    border-radius: 15px;

}
figcaption {
    text-align: center;
}
figcaption a {
    color: white;
    font-size: 18px;
    text-shadow: 0 0 2px white;
    text-transform: uppercase;
}
figcaption a:hover {
    color: #fb6000;
    text-shadow: 0 0 2px #fb6000;
    transition-duration: 300ms;
}
a:hover .film-block img{
    border: 1px solid #fb6000;
    filter: none;
    transition-duration: 300ms;
    color: #fb6000;
    text-shadow: 0 0 2px #fb6000;
}
figure {
    float:left;
    
}
#wsparcie {
    background-color: #fb6000;
}
#wsparcie-div {
    color: white;
    background-color: #fb6000;
    text-align: center;
}
#footer-div {
    text-align: center;
    background-color: #1A171A;
    color: white;
    font-weight: 600;
    text-transform: uppercase;
}
#footer-div a {
    color: white;
}
#footer-div a:hover {
    color: #fb6000;
    text-shadow: 0 0 2px #fb6000;
    transition-duration: 300ms;
}
.arrow img{
    opacity: 0.6;
    border-radius: 100%;
    background-color: #333;
    position: fixed;
    right: 50px;
    bottom: 50px;
    width: 64px;
    box-shadow: 0 0 7px black;
}
.arrow a:hover img{
    opacity: 0.9;
    transition-duration: 300ms;
}
#links-bottom{
    width: 1000px;
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 15px;
}
#links-bottom a{
    font-size: 30px;
}
#links-bottom li a{
    color: white;
    font-size: 14px;
}
#links-bottom li a:hover{
    color: #fb6000;
    text-shadow: 0 0 2px #fb6000;
    transition-duration: 300ms;
}
#links-bottom li{
    float:left;
    list-style-type: none;
    margin: 0px 20px;
    line-height: 60px;
}
footer {
    background-color: #1A171A;
}
label{
    color: white;
    text-transform: uppercase;
    margin-right: 30px;
}






.card {
    background-color: rgb(0, 0, 0);
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    overflow: hidden;
    color: white;
}

.card-header {
    background-color: #fb6000;
    color: white;
    padding: 15px;
    margin: 0;
}

.card-content {
    display: none; /* Ukrywanie treści na początku */
    padding: 15px;
}

.toggle-button {
    background-color: #fb6000;
    color: rgb(255, 255, 255);
    border: none;
    padding: 10px;
    cursor: pointer;
    width: 100%;
}
.toggle-button:hover {
    background-color: black;
}